/* CI / CD Colors*/
$white: #fff;
$black: #000;
$seat-black: #333;
$dark-grey: #666;
$grey: #999;
$light-grey: #AAA;
$lighter-grey: #CCC;
$seat-red: #D7122B;

/*General styles*/
$text: $seat-black;
$line: #e6e6e6;
$slider-bg: #f4f4f4;
$form-line: #aaa;

/*Button styles*/
$button: $seat-red;
$button-text: $white;
$secondary-button: $lighter-grey;

/*Footer styles*/
$footer-background: $seat-black;
$footer-text: $grey;
$footer-line: $black;