@font-face {
  font-family: 'SkodaProBold';
    src: url('../fonts/skoda/SkodaPro-Bold.eot') format('eot'),
         url('../fonts/skoda/SkodaPro-Bold.ttf')  format('truetype');
}

@font-face {
  font-family: 'SkodaProExtraBold';
    src: url('../fonts/skoda/SkodaPro-ExtraBold.eot') format('eot'),
         url('../fonts/skoda/SkodaPro-ExtraBold.ttf')  format('truetype');
}

@font-face {
  font-family: 'SkodaProRegular';
    src: url('../fonts/skoda/SkodaPro-Regular.eot') format('eot'),
         url('../fonts/skoda/SkodaPro-Regular.ttf')  format('truetype');
}

@mixin fontbold {
  font-family: 'SkodaProBold', Verdana, Arial, Helvetica, sans-serif;
}

@mixin fontextrabold {
  font-family: 'SkodaProExtraBold', Verdana, Arial, Helvetica, sans-serif;
}

@mixin fontnormal {
  font-family: 'SkodaProRegular', Verdana, Arial, Helvetica, sans-serif;
}

body {
  @include fontnormal;
  color: $text;
}

b {
  @include fontbold;
}

h1 {
  @include fontextrabold;
  color: $black;
  font-size: rem(22px);
  line-height: rem(34px);
  text-transform: uppercase;
  margin-bottom: 0.5rem;
}
h2 {
  @include fontextrabold;
  color: $black;
  font-size: rem(20px);
  line-height: rem(24px);
  text-transform: uppercase;
  margin-bottom: 0.5rem;
}

h3, h4 {
  margin-bottom: 1rem;
}
