<div ng-controller="LandingPageFormCtrl" class="landing-page-form">
    <div layout="row" layout-align="center" layout-wrap>
        <md-button href="#/leasingCalculator/{{global.params.selectedBrand}}/{{global.params.selectedModel}}/{{global.params.selectedModelVariant}}" class="md-raised leasing-button" translate="LANDINGPAGE_LEASING" aria-label="button"></md-button>
    </div>
    <div layout="row" layout-align="center" layout-wrap>
        <md-button href="#/mainFormular/{{global.params.selectedBrand}}/{{global.params.selectedModel}}/{{global.params.selectedModelVariant}}/testdrive" class="md-raised testdrive-button" translate="LANDINGPAGE_TESTDRIVE" aria-label="button"></md-button>
    </div>
    <div layout="row" layout-align="center" layout-wrap>
        <md-button href="#/mainFormular/{{global.params.selectedBrand}}/{{global.params.selectedModel}}/{{global.params.selectedModelVariant}}/catalog" class="md-raised catalog-button" translate="LANDINGPAGE_CATALOG" aria-label="button"></md-button>
    </div>
</div>
