/* CI / CD colors*/
$white: #fff;
$black: #000;
$dark-grey: #262626;
$grey: #666;
$light-grey: #ccccd1;
$lighter-grey: #f0f0f5;
$vw-blue: #00b1eb;

/* CI / CD secondary colors*/
$vw-dark-blue: #2274AC;
$vw-green: #51ae30;
$vw-orange: #ff871f;
$blue-grey: #31424a;
$blue-light-grey: #e3ebec;

/*General styles*/
$text: $dark-grey;
$line: #e6e6e6;
$slider-bg: #e6e6e6;
$form-line: #d3d9db;

/*Button styles*/
$button: $vw-blue;
$secondary-button: $blue-light-grey;

/*Footer styles*/
$footer-background: $white;
$footer-text: $blue-grey;
$footer-line: $blue-light-grey;
