.image-area-top {
  margin: 1rem 1rem 2rem 1rem;
}

.car-image {
  width: 100%;
  max-height: 600px;
  overflow: hidden;
  img {
    width: 100%;
  }
}

.landing-page-form {
  margin: 1rem 1rem 3rem 1rem;
}
