<div class="desktop-overlay">
    <div class="text-wrapper">
        <a ng-click="toggleDesktopOverlay()" href="" class="overlay-toggle">
            <span></span>
        </a>

        <h1>Herzlich Willkommen</h1>
        <p>Die Seite ist nur für die mobile Nutzung ausgelegt. Bitte öffnen sie diese Seite auf Ihrem mobile Gerät.</p>
    </div>
</div>
<header>
    <div class="logo"></div>
    <!--<nav>
        &lt;!&ndash;<div class="burger" ng-click="toggleNavi()">&ndash;&gt;
        <div class="burger">
            <span class="line-1"></span>
            <span class="line-2"></span>
            <span class="line-3"></span>
        </div>
        <ul class="menu">
            <a href="#"><li>Modellübersicht</li></a>
            <a href="#"><li>Kontakt</li></a>
            <a href="#"><li>Website</li></a>
        </ul>
    </nav>-->
</header>
