<div layout="column" ng-controller="LeasingCalculatorFormCtrl">
    <div>
        <h1>Leasing Rechner</h1>
        <div layout="row" class="slider">
            <span translate="LEASINGCALC_PAYMENT"></span>
            <span aria-label="red" aria-controls="red-slider">&nbsp; {{data.payment}} {{'LEASINGCALC_PAYMENT_FRANCS'|translate}}</span>
            <md-slider style="padding-left:15px;" step="100" min="0" max="25500" ng-model="data.payment"
                       aria-label="blue" class="md-primary">
            </md-slider>
        </div>

        <div layout="row" class="slider">
            <span translate="LEASINGCALC_DURATION"></span>
            <span aria-label="red" aria-controls="red-slider">&nbsp; {{data.duration}} {{'LEASINGCALC_DURATION_MONTH'|translate}}</span>
            <md-slider style="padding-left:15px;" step="12" min="12" max="60" ng-model="data.duration"
                       aria-label="blue" class="md-primary">
            </md-slider>
        </div>

        <div layout="row" class="slider">
            <span translate="LEASINGCALC_MILAGE"></span>
            <span aria-label="red" aria-controls="red-slider">&nbsp; {{data.milage}} {{'LEASINGCALC_MILAGE_KILOMETER'|translate}}</span>
            <md-slider style="padding-left:15px;" step="5000" min="10000" max="50000" ng-model="data.milage"
                       aria-label="blue" class="md-primary">
            </md-slider>
        </div>

        <fieldset class="standard contact-fieldset layout-row">
            <legend translate="LEASINGCALC_OFFER"></legend>
            <md-checkbox id="checkbox-discount" ng-model="data.discount" aria-label="checkbox" ng-repeat="row in global.params.leasingPromotions"
                         class="md-primary checkbox-inline" >
                <span translate="LEASINGCALC_OFFER_TEXT" translate-values="{discountRate: {{row.interestRate}}, validTo: '{{row.validTo}}', runningTimeFrom: {{row.runningTimeFrom}}, runningTimeTo: {{row.runningTimeTo}}, kmPerYear: {{row.maxKilometerPerYear}} }"></span>
            </md-checkbox>
        </fieldset>

        <div layout="row" class="total-outer-wrapper">
            <h4>{{'LEASINGCALC_INTERESTRATE'|translate}}</h4>
            <p class="zins nominal">{{'LEASINGCALC_INTERESTRATE_NOMINAL'|translate}} <b>{{data.interestRateDefault}}%</b></p>
            <p class="zins effektiv">{{'LEASINGCALC_INTERESTRATE_EFFEKTIVE'|translate}} <b>{{data.interestRateEffektive}}%</b></p>
        </div>
        <div layout="row">
            <div class="total-wrapper">
                <span class="total" translate="LEASINGCALC_MOTHLY_PAYMENT"></span>
                <span class="total-value" >{{'LEASINGCALC_CHF' | translate}}&nbsp;{{result}}</span>
            </div>

            <md-button type="button" ng-click="calculate()" class="md-raised md-primary"
                       translate="LEASINGCALC_CALCULATE"
                       aria-label="Calculate"></md-button>

            <!-- <md-button type="button" href="#/landingPage/{{global.params.selectedBrand}}/{{global.params.selectedModel}}/{{global.params.selectedModelVariant}}" class="md-raised"
                       translate="LEASINGCALC_BUTTON_BACK"
                       aria-label="Back"></md-button> -->
            <md-button type="button" href="#/mainFormular/{{global.params.selectedBrand}}/{{global.params.selectedModel}}/{{global.params.selectedModelVariant}}/leasing" class="md-raised" translate="LEASINGCALC_CONTACT"
                       aria-label="Next"></md-button>
        </div>
    </div>
</div>