<footer ng-controller="FooterCtrl">
    <div layout="row" layout-align="center" class="social-media">
        <div class="facebook clickPointer" ng-if="selectedCSSFile === 'volkswagen'" ng-click="route('https://www.facebook.com/volkswagen.ch');"></div>
        <div class="facebook clickPointer" ng-if="selectedCSSFile === 'audi'" ng-click="route('https://www.facebook.com/audiswitzerland');"></div>
        <div class="facebook clickPointer" ng-if="selectedCSSFile === 'skoda'" ng-click="route('https://www.facebook.com/skodaswitzerland');"></div>
        <div class="facebook clickPointer" ng-if="selectedCSSFile === 'seat'" ng-click="route('https://www.facebook.com/SEAT.Switzerland');"></div>
        <div class="google clickPointer" ng-if="selectedCSSFile === 'volkswagen'" ng-click="route('https://plus.google.com/+volkswagench/videos');"></div>
        <div class="google clickPointer" ng-if="selectedCSSFile === 'audi'" ng-click="route('https://plus.google.com/+audide/posts');"></div>
        <div class="google clickPointer" ng-if="selectedCSSFile === 'skoda'" ng-click="route();"></div>
        <div class="google clickPointer" ng-if="selectedCSSFile === 'seat'" ng-click="route('https://plus.google.com/+seatswitzerland/posts');"></div>
        <div class="instagram clickPointer" ng-if="selectedCSSFile === 'volkswagen'" ng-click="route();"></div>
        <div class="instagram clickPointer" ng-if="selectedCSSFile === 'audi'" ng-click="route();"></div>
        <div class="instagram clickPointer" ng-if="selectedCSSFile === 'skoda'" ng-click="route();"></div>
        <div class="instagram clickPointer" ng-if="selectedCSSFile === 'seat'" ng-click="route('https://www.instagram.com/seat_de');"></div>
        <div class="twitter clickPointer" ng-if="selectedCSSFile === 'volkswagen'" ng-click="route('https://twitter.com/volkswagen');"></div>
        <div class="twitter clickPointer" ng-if="selectedCSSFile === 'audi'" ng-click="route();"></div>
        <div class="twitter clickPointer" ng-if="selectedCSSFile === 'skoda'" ng-click="route();"></div>
        <div class="twitter clickPointer" ng-if="selectedCSSFile === 'seat'" ng-click="route();"></div>
        <div class="youtube clickPointer" ng-if="selectedCSSFile === 'volkswagen'" ng-click="route();"></div>
        <div class="youtube clickPointer" ng-if="selectedCSSFile === 'audi'" ng-click="route();"></div>
        <div class="youtube clickPointer" ng-if="selectedCSSFile === 'skoda'" ng-click="route('https://www.youtube.com/user/skoda');"></div>
        <div class="youtube clickPointer" ng-if="selectedCSSFile === 'seat'" ng-click="route('https://www.youtube.com/user/seat');"></div>
        <div class="newsletter clickPointer" ng-if="selectedCSSFile === 'volkswagen'" ng-click="route();"></div>
        <div class="newsletter clickPointer" ng-if="selectedCSSFile === 'audi'" ng-click="route();"></div>
        <div class="newsletter clickPointer" ng-if="selectedCSSFile === 'skoda'" ng-click="route();"></div>
        <div class="newsletter clickPointer" ng-if="selectedCSSFile === 'seat'" ng-click="route();"></div>
    </div>

    <div ui-view="language" class="language"></div>

    </div>

    <div class="legal">
        <div layout="row" layout-align="center" ng-if="selectedCSSFile !== 'seat'">
            <md-button class="md-primary" href="" aria-label="models" ng-click="openPopupImprint()">
                <span translate="FOOTER_IMPRINT"></span>
            </md-button>
        </div>
        <!--<div layout="row" layout-align="center">
            <md-button class="md-primary" href="" aria-label="models" ng-click="openPopupPrivacy()">
                <span translate="FOOTER_PRIVACY"></span>
            </md-button>
        </div>-->
        <div layout="row" layout-align="center">
            <md-button class="md-primary" href="" aria-label="models" ng-click="openPopupConditions()">
                <span translate="FOOTER_CONDITION"></span>
            </md-button>
        </div>
    </div>

    <div layout="row" layout-align="center" class="copyright">
        <span ng-if="selectedCSSFile === 'volkswagen'" translate="FOOTER_COPYRIGHT_VW"></span>
        <span ng-if="selectedCSSFile === 'audi'" translate="FOOTER_COPYRIGHT_AUDI"></span>
        <span ng-if="selectedCSSFile === 'skoda'" translate="FOOTER_COPYRIGHT_SKODA"></span>
        <span ng-if="selectedCSSFile == 'seat'" translate="FOOTER_COPYRIGHT_SEAT"></span>
        <br>
        <span translate="FOOTER_TEXT"></span>
    </div>
</footer>

<div id="popup_imprint" ng-class="info-popup" class="info-popup">
    <a href="" ng-click="closePopup()" class="close"></a>
    <h2 translate="FOOTER_IMPRINT"></h2>
    <div class="inner-scroll">
        <p ng-if="selectedCSSFile === 'volkswagen'">
            <b>AMAG Automobil- und Motoren AG</b>
            <br/>
            Marketing Volkswagen PW
            <br/>
            Aarauerstrasse 20
            <br/>
            5116 Schinznach-Bad
            <br/>
            Telefon +41 56 463 91 91
        </p>
        <p ng-if="selectedCSSFile === 'audi'">
            <b>AMAG Automobil- und Motoren AG</b>
            <br/>
            Audi Division
            <br/>
            Aarauerstrasse 20
            <br/>
            CH-5116 Schinznach-Bad
            <br/>
            Telefon 056 463 91 91
            <br/>
            Telefax 056 463 93 93
        </p>
        <p ng-if="selectedCSSFile === 'skoda'">
            <b>AMAG Automobil- und Motoren AG</b>
            <br/>
            Division ŠKODA
            <br/>
            Aarauerstrasse 20
            <br/>
            CH-5116 Schinznach-Bad
            <br/>
            Telefon 056 463 91 91
            <br/>
            Telefax 056 463 93 93
            <br/>
            E-Mail   info@skoda.ch
            <br/>
            AMAG Blog: http://blog.amag.ch
        </p>
        <p ng-if="selectedCSSFile === 'seat'">

        </p>
    </div>
</div>

<div id="popup_privacy" ng-class="info-popup" class="info-popup">
    <a href="" ng-click="closePopup()" class="close"></a>
    <h2 translate="FOOTER_PRIVACY"></h2>
    <div class="inner-scroll">
        <p translate="FOOTER_PRIVACY_POPUP"></p>
    </div>
</div>

<div id="popup_conditions" ng-class="info-popup" class="info-popup">
    <a href="" ng-click="closePopup()" class="close"></a>
    <h2 translate="FOOTER_CONDITION"></h2>
    <div class="inner-scroll">
        <p translate="FOOTER_CONDITION_POPUP"></p>
    </div>
</div>
