<footer>
    <div layout="row" layout-align="center" class="social-media">
        <div class="facebook" ng-if="selectedCSSFile === 'volkswagen'" ></div>
        <div class="facebook" ng-if="selectedCSSFile === 'audi'" href="https://www.facebook.com/audiswitzerland/"></div>
        <div class="facebook" ng-if="selectedCSSFile === 'skoda'" href="https://www.facebook.com/skodaswitzerland"></div>
        <div class="facebook" ng-if="selectedCSSFile === 'seat'" href="https://www.facebook.com/SEAT.Switzerland/"></div>
        <div class="google" ng-if="selectedCSSFile === 'volkswagen'" href=""></div>
        <div class="google" ng-if="selectedCSSFile === 'audi'" href=""></div>
        <div class="google" ng-if="selectedCSSFile === 'skoda'" href=""></div>
        <div class="google" ng-if="selectedCSSFile === 'seat'" href=""></div>
        <div class="instagram" ng-if="selectedCSSFile === 'volkswagen'" href=""></div>
        <div class="instagram" ng-if="selectedCSSFile === 'audi'" href=""></div>
        <div class="instagram" ng-if="selectedCSSFile === 'skoda'" href=""></div>
        <div class="instagram" ng-if="selectedCSSFile === 'seat'" href=""></div>
        <div class="twitter" ng-if="selectedCSSFile === 'volkswagen'" href=""></div>
        <div class="twitter" ng-if="selectedCSSFile === 'audi'" href=""></div>
        <div class="twitter" ng-if="selectedCSSFile === 'skoda'" href=""></div>
        <div class="twitter" ng-if="selectedCSSFile === 'seat'" href=""></div>
        <div class="youtube" ng-if="selectedCSSFile === 'volkswagen'" href=""></div>
        <div class="youtube" ng-if="selectedCSSFile === 'audi'" href=""></div>
        <div class="youtube" ng-if="selectedCSSFile === 'skoda'" href=""></div>
        <div class="youtube" ng-if="selectedCSSFile === 'seat'" href=""></div>
        <div class="newsletter" ng-if="selectedCSSFile === 'volkswagen'" href=""></div>
        <div class="newsletter" ng-if="selectedCSSFile === 'audi'" href=""></div>
        <div class="newsletter" ng-if="selectedCSSFile === 'skoda'" href=""></div>
        <div class="newsletter" ng-if="selectedCSSFile === 'seat'" href=""></div>
    </div>

    <div ui-view="language" class="language"></div>

    </div>

    <div class="legal">
        <div layout="row" layout-align="center" ng-if="selectedCSSFile !== 'seat'">
            <md-button class="md-primary" href="" aria-label="models" ng-click="openPopupImprint()">
                <span translate="FOOTER_IMPRINT"></span>
            </md-button>
        </div>
        <!--<div layout="row" layout-align="center">
            <md-button class="md-primary" href="" aria-label="models" ng-click="openPopupPrivacy()">
                <span translate="FOOTER_PRIVACY"></span>
            </md-button>
        </div>-->
        <div layout="row" layout-align="center">
            <md-button class="md-primary" href="" aria-label="models" ng-click="openPopupConditions()">
                <span translate="FOOTER_CONDITION"></span>
            </md-button>
        </div>
    </div>

    <div layout="row" layout-align="center" class="copyright">
        <span ng-if="selectedCSSFile === 'volkswagen'" translate="FOOTER_COPYRIGHT_VW"></span>
        <span ng-if="selectedCSSFile === 'audi'" translate="FOOTER_COPYRIGHT_AUDI"></span>
        <span ng-if="selectedCSSFile === 'skoda'" translate="FOOTER_COPYRIGHT_SKODA"></span>
        <span ng-if="selectedCSSFile == 'seat'" translate="FOOTER_COPYRIGHT_SEAT"></span>
    </div>
</footer>

<div id="popup_imprint" ng-class="info-popup" class="info-popup">
    <a href="" ng-click="closePopup()" class="close"></a>
    <h2 translate="FOOTER_IMPRINT"></h2>
    <div class="inner-scroll">
        <p ng-if="selectedCSSFile === 'volkswagen'">
            <b>AMAG Automobil- und Motoren AG</b>
            <br/>
            Marketing Volkswagen PW
            <br/>
            Aarauerstrasse 20
            <br/>
            5116 Schinznach-Bad
            <br/>
            Telefon +41 56 463 91 91
        </p>
        <p ng-if="selectedCSSFile === 'audi'">
            <b>AMAG Automobil- und Motoren AG</b>
            <br/>
            Audi Division
            <br/>
            Aarauerstrasse 20
            <br/>
            CH-5116 Schinznach-Bad
            <br/>
            Telefon 056 463 91 91
            <br/>
            Telefax 056 463 93 93
        </p>
        <p ng-if="selectedCSSFile === 'skoda'">
            <b>AMAG Automobil- und Motoren AG</b>
            <br/>
            Division ŠKODA
            <br/>
            Aarauerstrasse 20
            <br/>
            CH-5116 Schinznach-Bad
            <br/>
            Telefon 056 463 91 91
            <br/>
            Telefax 056 463 93 93
            <br/>
            E-Mail   info@skoda.ch
            <br/>
            AMAG Blog: http://blog.amag.ch
        </p>
        <p ng-if="selectedCSSFile === 'seat'">

        </p>
    </div>
</div>

<div id="popup_privacy" ng-class="info-popup" class="info-popup">
    <a href="" ng-click="closePopup()" class="close"></a>
    <h2 translate="FOOTER_PRIVACY"></h2>
    <div class="inner-scroll">
        <p translate="FOOTER_PRIVACY_POPUP"></p>
    </div>
</div>

<div id="popup_conditions" ng-class="info-popup" class="info-popup">
    <a href="" ng-click="closePopup()" class="close"></a>
    <h2 translate="FOOTER_CONDITION"></h2>
    <div class="inner-scroll">
        <p translate="FOOTER_CONDITION_POPUP"></p>
    </div>
</div>
