header {
  border-bottom: 1px solid $line;
  height: 66px;
  .logo {
    height: 38px;
    width: 38px;
    margin-top: 11px;
    background-image: url(../img/volkswagen/logo.png);
  }
  // .burger {
  //   span {
  //     background-color: $black;
  //   }
  // }

  // .menu {
  //   text-align: center;
  //   font-size: 0.9rem;
  //   a {
  //     color: $blue-grey;
  //     border-bottom: 1px solid $line;
  //   }
  //   li {
  //     margin: 0 1rem;
  //     padding: 1.5rem 0;
  //     &:not(:last-child) {
  //       border-bottom: 1px solid $light-grey;
  //     }
  //     background-size: .6rem;
  //     &:hover {
  //       color: $black;
  //     }
  //   }
  // }
}
