footer {
  padding: 1.5rem;
  background-color: $footer-background;
  color: $footer-text;
  a {
    color: $footer-text;
  }

  //social media styles
  .social-media {
    padding-bottom: 0;
    div{
      height: rem(36px);
      width: rem(36px);
      margin-right: .5rem;
      background-color: $black;
      background-size: 1.9rem;
      &.instagram, &.twitter, &.newsletter, &.youtube{
        display: none;
      }
    }
  }
  .facebook {
    background: url(../img/audi/facebook.svg) center center;
  }
  .google{
    background: url(../img/audi/google.svg) center center;
  }

  //language switch
  .language {
    position: relative;
    .md-select-value {
      @include button($bg:$light-grey-30,$font-size:15,$color:$black,$padding:.8rem,$display:table,$margin:30px auto,$max-width:100%);
      width: 100%; //calc(100% - 2rem);
      @include arrowRight;
      background-image:url(../img/audi/arrow-dropdown-footer.svg);
      background-size: 14px auto;
      background-position: right 10px center;
    }
    .md-select-menu-container {
      position: absolute;
      width: 100%;
      top: calc(.8rem + 30px);
      left: 0;
      height: 0;
      overflow: hidden;
      .language-options {
        @include button($bg:$light-grey-30,$font-size:15,$color:$black,$display:block,$padding:.8rem,$margin:0px auto,$max-width:300px);
      }
    }
  }

  //impressum, terms and legal styles
  .legal > div{
    font-size: 0.9rem;
    padding: 1rem 0;
    border-top: 1px solid $footer-line;
    &:last-child {
      border-bottom: 1px solid $footer-line;
    }
  }

  .copyright {
    margin-top: 1.5rem;
    color: $light-grey;
  }
}
