/* CI / CD primary colors*/
$white: #fff;
$black: #000;
$grey: #6d7579;
$dark-grey: #434c53;
$light-grey: #b0b6b8;
$lighter-grey: #d5d9d8;
$audi-red: #cc0033;
$audi-dark-red: #aa142d;

/* CD / CD 60% colors*/
$dark-grey-60: #8e9498;
$medium-grey-60: #a7acaf;
$light-grey-60: #d0d3d4;
$lighter-grey-60: #e6e8e8;

/* CD / CD 30% colors*/
$dark-grey-30: #c6c9cb;
$medium-grey-30: #d3d5d7;
$light-grey-30: #e7e9ea;
$lighter-grey-30: #f2f4f3;

/*General styles*/
$text: $black;
$line: $dark-grey;
$light-line: #edf4f6;
$slider-bg: #e5eaee;
$form-line: $grey;

/*Button styles*/
$button: $light-grey-30;
$secondary-button: $black;

/*Footer styles*/
$footer-background: $dark-grey;
$footer-text: $white;
$footer-line: $grey;
